<ul>
  <li class="dashboard-nav dashboard-title mt0">
    <%

    def nested_hash_value(obj,key)
      if obj.respond_to?(:key?) && obj.key?(key)
        obj[key]
      elsif obj.respond_to?(:each)
        r = nil
        obj.find{ |*a| r=nested_hash_value(a.last,key) }
        r
      end
    end


    navigation_items.each do | key, value |

      binding.pry
      %>
      <%= link_to "#{key}", "#{ nested_hash_value(navigation_items, :link) }" %>

    <% end %>
  </li>
</ul>
