<% navigation_items.each_with_index do | (key, value), index| %>
  <li class="dashboard-nav dashboard-title <%= 'mt0' if index == 0 %>">
    <span class="nav-icon"></span>
    <%= link_to "#{key}#{ value.fetch('subnavitem1', '') }".html_safe,
      "#{ value.fetch('link', '') }",
      target: "#{ value.fetch('target', '') }",
      alt: "#{ value.fetch('alt', '') }",
      class: active_page("#{ value.fetch('link', '') }") %>
  </li>
<% end %>
<% if current_user %>
<li class="dashboard-nav dashboard-title"><%= link_to 'Sign Out', logout_path %></li>
<% end %>
