<% first_item_class = 'mt0' %>
<% navigation_items.each do | key, value | %>
  <li class="dashboard-nav dashboard-title <%= first_item_class %>">
    <%= link_to "#{key}<br/><span>#{ (value.has_key? :subtitle) ? value.fetch(:subtitle) : '' }</span>".html_safe,
      "#{ value.fetch(:link) }",
      target: "#{ (value.has_key? :target) ? value.fetch(:target) : '' }",
      alt: "#{ (value.has_key? :alt) ? value.fetch(:alt) : ''  }",
      class: active_page("#{ value.fetch(:link) }") %>
  </li>
  <% first_item_class = '' %>
<% end %>
<% if current_user %>
  <li class="dashboard-nav dashboard-title"><%= link_to 'Sign Out', logout_path %></li>
<% end %>
