<div class="medium-4 large-3 columns show-for-medium-up pl0">
  <div class="white-trans pb0">
    <div class="large-10 fullwidth center">
      <%= render partial: "ama_layout/custom_nav_links", locals: { navigation_items: navigation } if navigation %>
    </div>
  </div>
</div>
