<% first_item = 'mt0' %>
<% navigation_items.each do | key, value | %>
  <li class="dashboard-nav dashboard-title <% first_item %>">
    <%= link_to "#{key}".html_safe, "#{ value.fetch(:link) }",
      class: active_page("#{ value.fetch(:link) }"),
      target: "#{ (value.has_key? :target) ? value.fetch(:target) : ' ' }",
      alt: "#{ (value.has_key? :alt) ? value.fetch(:alt) : ' '  }" %>
  </li>
  <% first_item = '' %>
<% end %>
<% if current_user %>
  <li class="dashboard-nav dashboard-title mt1"><%= link_to 'Sign Out', logout_path %></li>
<% end %>
