<a href="/" id="menu_profile" data-dropdown="#dropdown" class="button button-theme dropdown-link closed"><%= greeting %><span class="caret"></span></a>
<ul class="dropdown dropdown-anchor-right hide color-primary logged-in" id="dropdown">
  <span class="pointer-up right"></span>
  <span class="dropdown-close right">close</span>
  <%= render "ama_layout/menu_profile_items" %>
</ul>
