<header class="site-header">
  <div class="row">
    <div id="navWrapper">
      <div id="pattern" class="pattern">
        <%= link_to(image_tag("AMA-Logo.png"), "https://www.ama.ab.ca") %>
      </div>
    </div>
  </div>
</header>