<li class="small-text">
  <%= link_to 'Update Address', "#{Rails.configuration.youraccount_site}/membership_update/new" %>
</li>
<li class="small-text">
  <%= link_to 'Manage Credit Cards', "#{Rails.configuration.gatekeeper_site}/members/credit_cards" %>
</li>
