<div class="medium-4 large-3 columns show-for-medium-up pl0">
    <div class="dashboard-bg pb0">
      <div class="large-10 buttons-destination center">
        <%= render "ama_layout/nav_list"%>
      </div>
    </div>
</div>
