<div class="medium-4 large-3 columns show-for-medium-up pl0">
  <div class="white-trans pb0">
    <div class="large-10 full-width center">
      <%= render 'ama_layout/nav_links' %>
    </div>
  </div>
</div>
