<div class="medium-5 large-3 columns show-for-medium-up pl0 pr0">
  <div class="dashboard-bg pb0">
    <div class="large-10 buttons-destination center">
      <%= render 'ama_layout/nav_links' %>
    </div>
  </div>
</div>
