<aside class="side-nav">
  <h2 class="side-nav__header">Online Account</h2>
  <ul class="side-nav__list">
    <%= render partial: "ama_layout/main_nav_item", collection: navigation.items, as: :nav_item %>
  </ul>
</aside>
