<header class="grid-full">
  <div class="logo">
    <div class="grid-4 applogo">
      <h2><%= link_to(Rails.configuration.site_name, root_path(utm_campaign: "logged-in-#{logged_in.present?}", utm_source: utm_source, utm_medium: "link")) %></h2>
    </div>
    <div class="grid-2 omega">
      <img alt="AMA" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAANwAAAA1CAYAAAAqEYXLAAAa7ElEQVR42u2d
      B3hURdfHLyGgCEjoAqIoXbr0TqhCEiAQ5KUISFFAURR9kaKAUgISJbSEIi30
      3kKRKiV0iFJC00CoyWbTNrvpOd85M5sMISHsnd277+b5nOf5Pwlh79zZe+d3
      z5kzZ+YqAKCF8qEaoD5GzUCtQwWhbqL0KBPKAELxZt1HnUftQvmiPke5oorZ
      ol3Vx2xWFFdfRem17F/9q/+JbAlZDdS3qD2oyKSUVLhwVwerj92Gn7ZchlFL
      T0FP79+h04/7oMn4nVD1s01Q84st7GfDb3dAZ/y7+8wDMHThCRgfcB7mB16D
      HefuwdWwKEhOSUsAgLOon1EdUE7/Avev/j8CVx41ARWSlp4Op0KewuT1F8H1
      h71QbNAaUNz8QGk7D5TGc0Bp8jMorX4Bpc2voLTzBaXDfFDao/AnQsD/3hrV
      fC4ojebgTx9QOi4AxcMfig9eA91nHYR5e67CjQfRgOUpagmqpSrgRm5UlPYv
      BK4Rqjuqs4TcUS1RTja6MaVQHlS3jdQN1R5VSINOVBTVFdXFRm3tiapgo7Y5
      o9qh3CTb0gNV3xGAa2p2+yA4VA+jl56GMsPXMUA4WAhO54WguCNwPZYAnki9
      PJeC0n0JQcvraoEgNkV184MaX26FqZsuwZ0nsUCwo4ajnF/W7jpfbXuRhSuJ
      CkeBlWpsoxvzAQo0UCcNgBugQTuH2qhtrWzQlghU0f8VcA1QJ1Gw//IDaPjd
      LrRQC8iCcUvl8RxcvRk4ZKUQlMUEDlk3bsnaCLF/t5tHFo9/putiDmvPpc9B
      iBJWk9XpOnUfHAx+CFjCUZ/k1v6l+64r+EBQlN7Ln78QI2zUURY6OHD+GgC3
      zYGBW2yj9gyxN3BFUAEoOH7tCdQZt4NcPhKHqddyARhCgiAQgGSRUGjxOiGU
      3f2g5IhN0GxuELj5XYCufhfhg2V/wgdLg8Fj9XVoNesYVB25HkoNCQAnr+Vk
      yQhEci/5zy6LyOLRObh6meFrhudo6QP1cBxIDwEst1Etcvoea/+4qygtf1EU
      z2wX4qiNbswDlIsDA3cTVcCGsL2JinVQ4F4XXovVOmxP4NxQcXpDIvSYexhd
      Ox/q5MxVREtB4pbng0U0/sr8vyqfb4aPfI+Bz+6/YO/F+3A30gTJiUkAYf8A
      6NAi3UcurgQBBJ8FuHgS//YUqCSnpsGjKCOcuPEE1hy/A98FnGdjwtcGrOLW
      sTEBvJDAFufH81G76Pyu0/bBvQgDYPFD5cvyXdLSlSoDVyv4MHj2IjSwcWfp
      78DAkTraDjjuGTgocINt3KY69gDOGwWBVx5AUbI673tzi+bFOzp1erI+ZMkK
      fLgCPDAKueRgCPz9NBZyLDs3Q1K5QmBqUBWMdd8FY7VyTPGFFEie9DXkVoxJ
      KRB4KQyGLT6JQZQADnfrX7KARxaQgCT4lx65BVhuoN599jsN9z2uIJzPupXT
      bHxj9jk4cHNtCNxeBwYu0MZtmqE1cFtRMHXrFbJaNNYi0EhsXIauGf7dB2p9
      tQ38fw+BWGMyvKzEffQh6BAufZXyoK9aAfTVKzJFlneBqPrVIT1KD5YUsoLr
      TtxF13Y7d2vbzDO7tKx9fFzZaDYMWXwCsCSgWmZxK1tlupVOqLsadJiaDgzc
      XzaCrTIq2UGBq6ZBm/7WErhjKOYSKvVn8SCG12+o5ZmRyJoYKdx1/j5YWtLC
      7kNU7XdBX/kNiKpbJavqVIZIF2dIWL0c1JZdwY/grRHr+Viv6yLxUPDwZxbZ
      ddIeSEdGAaB1hltZ9aNMt7K7Rh1mmgMDR2plg84zEgUOCtz3GrWrlxbAbULB
      AJ+jCJs3d9O8eFCEXMdXsCMvPXYH1JbE9atBVzQfwZUduHpVIbLUqxDXzxNk
      y+TNl0FxZRFQ4fKSJW44G1y/2w1pHLo2KGXE4hMKfo4uwHqNbsw1lLMDA/eT
      Bu6kowCXD3VNo3ZtsjVw05hly4CtB8HGx2pkQWp/vgUeRpvMBJkgac8OMPnO
      BdN8H0hcuxJS795+sTs5qC9BRXBx1X6HRL8TdORaMjcz9eYNeFExLfCBuL7d
      wTByCFNs726QsGwxZJSzmNlSpt9KZoF5NNP8oGjgDR5T92VMmFdYdey2gq4o
      Ta7GaNhpujkwcJc0cCcdBbiOGrYrCfWWrYDrhIIp6y6wDqp09xewvT8bPGf8
      Dhklad0qiG5WDyKLFwDdKwpTZLH8oH+nLIIwFNIeP8ruTtZ6xp2sXw301d6k
      sRz9nmnpItECmubNgZxKutHIrGOEE56r9GtMugIK1vsOpMeJIE1kfCLUH7OF
      gidiXNeTW7oJq84CloMBBFyzuSM07tTrHBg4UlMr2jcKBQ4K3CqN2zbOVsBd
      3HX+HkX/aMwm3EgMPnjNOAgZJX70UN7py71OYzLs8JUgqubbBANZKIKPgZRy
      6ULO7iS5jxVcwDD8IzCMGgb6N4tnWr3I8sUgpmNLgNTUbMAlHToAkWWLQNR7
      lTIBpfPT35J2b8/62bR0aPXNDpocF5YOvxNNmN+NMMDhS2FD0GJvMVtASxSP
      Oq/yxsSi3nJg4CZoHgG0P3AlVXotj1E3VLYt2BbADYpLSoW3B6ymfEcReMAx
      W4tx2yCjGD4bATonblWi3q/BYIksUxgi33gdIksURAgqs7/rSryCFqwCpIU/
      AeFOFiKoeIDkdSdICtwFKeeCQPe6GNdhvVhXUQbX88U4Ywp+1oksIgedw4t/
      yw+Gb8bA8yUmIQVqfboBo6ni+9BcXTcMokTEJhjKDlhlwsl0Sy/yI7OrEqry
      5nzpwMCdtcKdTLHwHCaUQRo47S3vIVQ3ifa1sxa4SzM3XSJXUrhhmClSBH+/
      8zSOW6ltm0D3qkLWjEEVWfJViGnXDJKPHYaUyxfB8MWnBCCBQFAwd8/o/RNA
      Whofo1Uux6Gq8Rbo3y0LqffvASQn4+er4L+Zq8kBKuoE8d98kQ2gWLf2ZAE5
      cFXRFa1ekX5nbmx00zo5TimEPIwBZ3InOy8UriWmkJ29+RR+3fEnm+6w0Mpt
      N1+wIypvTJAdgTuDOq3i82moOhp36qOorXYE7oikexhhtxQ583ozqEqh9Xa+
      IrqHnXHJvuvCYnRqxYMeDaqDHl3C6FbvQ1pEeFYovNwhQlFobMd+RndoBwkr
      lyCILplWjKCM6dJGBFM+7k/wiuAJwhjd6L0sAKUEXyZgadzHjo8b3Bdie3Yh
      UF/gVooyY8sVsmwi9Qyt9peYbB2mM/AUNHd/Sy7waPMFGyvReVrbCbh1qJ9V
      HjNGY3dyAsrHTsDVljhPC/Oxq1UeF4NykQVu5unrT3i6lIc/dUo2yd3ka9GB
      U86cYh1dj9aJ3D4CL3H9muwT0iePg2H0MDBO+hZMs6dD0s6tENvPk8ZsmUDp
      iqDl+/F7Mb7btDbTrRRzcgUgcc0KyCgJK5bQcQQXs3JJB/aCae5MdGNfydWt
      pBIdnwSlBwdQPie7WORGlsN8TWNiCnSYEkgPGUsucDXzBWsqcVMX2wm4VaiW
      Ko85prJdVVS4k2CGYJqdgJul8hy3xLHsfKBSw2SBOzqdrEATFtXLTNfyPxgi
      OvyyRaB7TeEWqEo56uQiEplLISsV/X5NdPvKmMdolViwJen3/SKC+fBBNreS
      LF5s/17CCg70YmNFPbmRNStxuE8cw8ioM40b8VizW6nPOVNl6PzjNJbj36/H
      Epb6FYpLe2Zt/5OWEr3swh547qIFq7wxj1Al7QDcDpSicpxpJIhUtGu0irrv
      m4/xtwNwr6D+tiJVq4zKBwnpqCxwER/9csQ8nlnG3Kz8WOG98DgRmZwwDnTY
      uQkGgie6eX1INxgg1yIsE4Ek3MUmtSE9OhpEye5WRtWoyMBOe/QQqU2nMSOd
      l1nKWI9OHOaYaHJvqU7hVu7K0a2kVefcrfQ0P1Da+8IfaNUPXXkgvrflgQ9v
      iQ402A7AHTEfu1HDJ/U+FfWuFmF6zYHrIXGONs/VcUCijnoywBk6Tg0U+Yjo
      er2J47mklDQRnfx0MFkYDk2l0hDdpjGkm0zwshLbx4Mfx8P+CC26fmM+yZ6F
      smkdj0CKLBQ2r5e4MQBSLpzFMWFBgooFVIyzpol2jRqKoLF2cbdyXM5u5cmQ
      J3wpjzvKk1twgvCv+3pag/eyRbJVbQDDIc2BE0/c3iqPO6iRO9nXfNxaLYGT
      fMjczKGO8RLt/FkKuFpfbqGORxWwn3XGboNni+HzETjRXEhEGxvUQCsVBbkV
      ilzqCitouV4R0wE4NZC4dlX2PMvHD9GKVaeIo3ArcZohHgEyef9Ek9wcQnRH
      jdMmQVroP5B25xYYf/iOTSMI61kH0vSR2eq/9TgGCn74G7mSBByb+li8/wYG
      TuLJotPY1VJ3klRQwn0h1bMTcOVQehXH6VEVbOxOPkG9Zj7usMbAlUclqax/
      eg711JBoZxgqv2rg6n61jdwsqoBNB1T7fDN5cpnFOG0iwUMg8GwRHJelRUbm
      DlzQSYgfOwrihvanQAu3jI1r4ThLl3Pq17CB5BaKwAnCRYGRuCH9QF+xRGaG
      Ck1L6N8q9SycYhK8DLqVO7dlq/vi3zrzwlhu4WjctuzQTdqigU8ZdF+idh5t
      pcTNmWUn4Eh7VB470Mbu5AaJxb2ywH1tw8jxJYm6+qoFLrzztH0UmaSDmRUo
      3H8lRfeEyxewEiJ5pgh1eDaWStq/F54vNJEdj9bQ+P14tD7jIWG5HwVIaKzF
      x35N6zJraRg9lHIhMxX/1SiIcWtPmSqZc3XRrRuxPMnohjUpOirgeq8STQ9w
      4e9m4EjcZf2Wz+Elnz4Byaf+ACobg0LJjSToSCwyefDKA1rkKqYMsitduJPZ
      1FfixoSgCmoKnPziy10vaU9Vle5kH4m5MVngTqms+24udc2RaOs2tcAdwkWZ
      IuHXw5/GcbRKO0suJEFA1o06OI2pDJ8NzwacAYMfEQrPq9Q5Kwwak9985u4J
      K1SYAiQZ+ZDkZtK/CTYCk7uHb5UEw4iPwOTjTS4jt2wIXmSF4mxCXVcIVcSJ
      zkOuJ9WLn+EBFJrjS7lyCWLcO0Acnh/SjfDlpusEltgCAqdAQh/H0ory3IDb
      n8uFK4vSSdycnnYCrhoqUWUktUQu7flMZbqUi52AayZRt08u9bWVqC8ZVUkN
      cLNm7/iTA+fJK6Hfxyw7DayIAAVNDRAU3MqUL0ZRSBGRXLOCZ4Jwq0NRTTYX
      Z5zyHUEmLJEFovk105wZEP/fL8m1zIQwbkBvSNwQQJaPwWj8cTJmpYwhl5XO
      S+CxSflEdCuT9u4CWO0HTyNiwWXIenIdMy14CdyuISE5FQb5Hqf8yhddyC9e
      cvH2Sy/v0B440iGVx39oo++6HqXYCbgFEnV/kEt9hVAPJer8Tg1wrULu6Xnw
      wM2PDmadsxi6leGxIhKZeucWdXqCilmbKHLpKhSDWPeOaFXaso4eVf1NnvbF
      k5AJDnJDCQQK8xNIwrIJCUtHYDL3sTJaRl+I6dyaB2lqVaI62XKgnEpsr64M
      TD4J7oSgjoWMMmHNOVCacutNot+HLjgOVMoOWsNBVONOCn0icWOMqHftBNwY
      lcevzWX1dKqKerzsBFwR1COV9YZaUO9SifZeVZtLeb7112y7ArFKAK3cNyvO
      ZM3C37EVIgsr5OaRpeNZJwiavmJxgoJcP/y/IpS4jJ/dTClYFAhh7mJ0y4YY
      RBmJlvJjGrdl15gRGCD5DwVDKG2LrBclOVOAhEBkQKfe+wdyKqY50yFcUagt
      ND3AXEtIjIGbJgDn7v6UXSL2PMHx2+1HMbDvclhu7uRhC1OJ0iRuzn81Au7y
      c3XUk9hC4LUc2vK5SneymJ2A+49Evb9YUO+HGu75KVYL7DwTypfmePiL5Sy4
      ncIxnCAGUShnkVkdXUEOHnVuEoFFY6sYj47kzhFEPPeSz6kxN9CSEt2iAc77
      DYHE7VtwsWkPcmXZaoP48WMhPcGUc0T0bBDEtG0CsXjuaPdOAN3bAFw7Dy1n
      nCCoxGoBfIj0ms5XIrSbuJsCKfy7yi9dOSdxY85pBFxIDlvgHVdZh3sObTkg
      5U5qD9xOiXq7WFBvCVS8RN0r1K6HO9d39iFa6S0248HJ8FJ9fqM1ZNnmzWh8
      FuvZFRONa2Ek8T3M5u8ACf4LIfn4EYgd4EWBEHIneTQRI5tknSwpRrRWZD1p
      DGecOpEpHifLkzHaqab0nh4o0tW8+OqHoj2XsLVyBy6FUaqX2Gg2u2pYCNwk
      FEiogwbAXcthq/WJKutYaq07aSfgKqNAA3eSSXKFQxzBqga4tgYMJNQcvo7S
      nYRVwEliF/x5+Z7+BSux41EGDuL9UDZtoHNhaWBirxIE0NJCWyzQ+jpdYe4i
      0tgtAq1pNFowWupjSemz6AzC5iO2iHDzY2O3LWc49BUHB4iVEdYl9LpKArfM
      TsA1krCS+STdyUeoYnYCbrIm7qTQF5L3daQa4EiTr2NWRiE3fwaa0ofv1EWu
      F4XSlx29BbkUska04pvDJnbjssydzLrMh8aCWerRFS/IUr1yK1E4d9h8/E6E
      bQ7CtpTaTtCxdX7jfgsCKsPnHaP9WcRYNbs+U5muc0pyv/pymgInFGTFWOSA
      1JYS2gMXLLsUx0K5SO4o/YfMrl1rTt2OAOcPFosdsPqI7fFos9dYU3J2S2cy
      stQqfYXiWTcGqlKeWS01xeS/MCOzJesKApxbe1FZf/pvKOrFopB8esOLB0lo
      L5NBvx4FKvN2/0Xr4V6WOzkc1dDCt6vUk8jqEOexD3BzJDeKrarSnextJ+Da
      S9QXbn6QtLHgnrZFtUTdlLyvjWT2pdx3+o6OoBORS96B2T4hr2LFP++5Cqlp
      6cIVPHsK9Og+0qrwSIoUsoihE8sgUVtSQ65DFG0UW6kMRS0JNrKcbMI9Fdfm
      PVvO4sOh2cTd3A129RVtdfNje2oO9j0GVLaiO6m08hH7tbx4FXS6ygucJnlj
      jtoJuOaSG8WOkHIntQduuYp6ZO9rulkgIR8Z4Egb/gyLgpL9VtKuXWI81Fvs
      bFxi8Br4efdViEswj63C7wDsWA+pk8axgIrOpQALfsiU2F7dWKg/Bq1m6qjB
      AOuWATy8wYFEbT8bCs0n7+ET1819hAtJaj+fPRjGr78AVAJO3OUwdlogYHMM
      NdAUOHkXrDZqmYQ7qTVwJURitsPqIaqADHCkGdHGJHCdEshcM6XjfAJOBBtc
      fZkLV7D3UvhwwSnYEZYIiVmWgMcDJBlAqtz8C83XAZHJgtr7OBmGLzuLoK+m
      cD+JW13xUg8GmhNat0PXHgOV6duCyRXmK9r7OBRspLl2Am6RRH7gAwl3Ukvg
      hNV1fPWz+u05vricJZ+bHwcPf2Z7cw52anq5RiHMUOnqfRh+2nsTdt6Jg1BD
      KiQlJoOaYjQmwl/xabD5YQpM3H0bXH/6HV7rv4qmKeg8NJ4kiyba0JMvuSHY
      us0SW/p1+XE/WWdqr90sm0QibWE7ANdB4yd6MTsBdzCPALfDFu+HWxseY4I+
      847ypTyN+V7+5s15hIXpspDmuCgSmLnGzgVTqBqM2w6dpgVCX58j8Kn/KRi2
      6ATT8MVcPTAY0+b7Pey930UHrqaNaMWLF/n74ah+sTqbJ1qTlWNW9p3Rm2H3
      BZZwnRgY/DC5kOdSgpNgFBbZMeVlB+CKov7RoO0iJUx74GrlDdhEaqA8cEIN
      UUHXwqKhN4KDAHCw2iIQ7n4CBH5S7u51ZW8+Fe/xJhgpwNE8i8hCEWAEKYfL
      bbGIJj5br7s/AU/nZZau8YRdsOnU32AuK8asODNJqTuT6hFWzbG1XXvgxBo+
      DdTLTsDNREEe0hTrgRNqhzr0SG+EmThGqjF2GwerMXsZPgfMTfr93lmB7eZH
      4y+yZFQ/g/Ht0ZtgHG5bfvmfSDCXo6jGC/deVQp2mP8bnl9YNcdXMqq6HYDr
      pkHbH6BetwNwBVC38hhwt2wHnFAN1FzUo6v3o8Abl/l4zDwIJT8OIItHFoui
      mWTByLqRlSOrxMd8XbKI/i7efoMuIsFF/yboSn+8FjxwbOa9PRjO43SFuTxE
      +aBqopRzt8MVnGN7B1O4TDRhn8duzgQ7AFca9djG7Q5AKdoCJx4WeVDdbAuc
      kDOqLWoW6kJaenpacKgeF3jehh82XoSBmN3RYWog1P16G1T8ZAMU+s9KKIxB
      kCKowv243sZtyd/H93S7I7Cf+J2EGVuvwEaczL7+IBpSUjNTuoJR3mYLmz/j
      /Bfu6RWcM1QQ0HF5EDbSZU2BE9pg43Z7ag+caHce1CoJ4KRUCtUDNQm1DhWE
      eoJKIXjiTElgSEjOIoQUzIXoCkedRm0w1+GOKpvTuc6HRirOXRaxt5oibJck
      s+z7owajhlkhT5HVIaVOVgJ3FZVPakmLvDtZ1ALgDlgJXHlUguSL8D1RH1t5
      X91QmySvkQlVVg446+WEKo2qimqKckN1ZuK/t0BVR70hrFfuItjyd16YAVt7
      yYvyA0qxkfJbMdZYYSVw1y3YQaoiKtqO7iTpnBRw1icSd7fhfX0XBZIaIwGc
      fSUBm8TkLpcIWNhMsyXbEYmqYAVwEag3JNaRaelOvoq6bSVwJzRYiiOjw5LX
      KSjPA3f6rk5x7rxIwMZdm3CJi7FPgxvjigJJjRbAyQP7Eo2woztZAHXDCuCa
      SLbPW4P7+hUKJNUizwLnf/SWotSbpWA+ZwZspEGavPhPXlcl23PSiswQnVjy
      k6uqi41TpbUGpdgBuF8l29dEg3taHpUq2Z75eRK4XwOvKYV7L8do5HwFJ7Wt
      TfmJFgNam2syCiRVClVHQ+BIv1sJXE9NgROT6WESx55HKRppFwoklwe9mqeA
      w6kFRak8VcFJbWHZuN6TXCKzUsMb0xQFkhqLqqsxcF9b605qDFxHufe9id2y
      NdJQFEhqYJ4BbqDPEUWpM1PBvEgFM0ievwg/oEB2f0INdVqyXUdQfTUGrra1
      7qTGwHWTfEtRPOpNDe+pCypO8roFOjxwqenpStWRGxXM+M8Om9BNybk3Z02B
      kx9kx5snTJM1A04++kfqZQfgfkRdlc1L1VjrUCCpGg4LW8ijaKXVxN0Kpnop
      mJP5Ith6Sn7x2Xa4MXWEq2sX6cXTXbMdx56iSqt8UeItybfSJMi+WENj9UGB
      pHwcEraL96MoMMKjkV7LBWzZteSZLcoMFigFlWB2qRQ7aJu5fQYVikclqTwG
      UPfEPJxFqo9KUXEusRRHnYW7qPIaxJnbZFT5/UMyAhMaqxDqrsR3AtT1/wPh
      SNSmFJGWSwAAAABJRU5ErkJggg==
      ">
    </div>
  </div>
  <nav class="grid-4 menu-hybrid hide">
    <div class="ss-icon right menu-toggle">list</div>
    <div class="inner">
      <%= dropdown_menu(logged_in, greeting) %>
      <ul class="menu menu-www">
        <li><%= link_to("AMA website", "http://ama.ab.ca", target: "_blank") %></li>
        <%= render partial: "ama_layout/menu_www_items", locals: { logged_in: logged_in } %>
      </ul>
    </div>
  </nav>
</header>
