<header class="site-header">
  <div class="row">
    <div id="navWrapper">
      <div id="pattern" class="pattern">
        <%= link_to(image_tag("AMA-Logo.png"), "https://www.ama.ab.ca") %>
        <% if navigation %>
          <a href="#" class="menu-link show-for-small-only"></a>
          <nav id="menu" role="navigation" class="show-for-small-only">
            <ul>
              <%= render partial: "ama_layout/custom_nav_links", locals: { navigation_items: navigation } %>
            </ul>
          </nav>
        <% end  %>
      </div>
    </div>
  </div>
</header>
