<header class="site-header">
  <div class="row">
    <div id="navWrapper">
      <div id="pattern" class="pattern">
        <!--Begin Pattern HTML-->
        <a href="#" class="menu-link show-for-small-only"></a>
        <%= link_to image_tag('AMA-Logo.png'), 'https://ama.ab.ca' %>
        <nav id="menu" role="navigation" class="">
          <%= render "ama_layout/nav_list"%>
        </nav>
      </div>
    </div>
  </div>
</header>

<script>
  $(document).ready(function() {
    var menulink = $('.menu-link');
    var nav = $('#menu');

    menulink.click(function() {
      nav.toggleClass('active');
      return false;
    });
  });
</script>
