<ul class="menu-profile-tablet">
  <li><%= link_to greeting, youraccount_dashboard_path, alt: "Back to my dashboard", class: active_page(youraccount_dashboard_path) %></li>
  <%= render "ama_layout/menu_profile_items" %>
</ul>
