<li class="has-submenu">
  <%= link_to navigation.user.email.truncate(30), Rails.configuration.gatekeeper_site %>
  <ul class="submenu menu vertical">
    <li><%= link_to 'AMA Website', Rails.configuration.amaabca_site %></li>
    <li><a href="http://amaroadreports.ca/">AMA Road Reports</a></li>
    <%= navigation.sign_out_link %>
  </ul>
</li>
