<li class="has-submenu bb0">
  <a class="show-for-medium">Welcome, %%BATMAN%%</a>
  <ul class="submenu menu vertical">
    <li><a href="<%= Rails.configuration.amaabca_site %>">AMA Website</a></li>
    <li><a href="http://amaroadreports.ca/">AMA Road Reports</a></li>
    <li><a href="/logout">Sign Out</a></li>
  </ul>
</li>
