html, body{
  height: auto !important;
}
html{
  background: image-url('alberta-blur.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body{
  background: none;
}
.row{
  max-width: 74rem;
}
.main-wrapper{
 margin: $base-margin*4 auto;
}
.page-wrapper{
  border: $base-border;
  background-color: $white;
}
.page-title{
  background: $ash;
  border-bottom: $base-border;
  padding: $base-padding 0;
}
.page-steps{
  text-align:right;
}
.content-block{
  margin-bottom: $base-margin*4;
  background: $white;
  border:$base-border;
}
.content-block-bottom{
  margin-top: $base-margin*8;
}
.panel-box{
  padding: $base-padding*4;
  h4, p{
    color: $white;
    margin-top: 0;
  }
}
.panel-box-confirmation{
  background: $green;
}
.panel-box-error{
  background: $brand-red;
}
.image-callout{
  border: $base-border;
}
.right{
  float:right;
}
.left{
  float:left;
}
.center{
  margin-left: auto;
  margin-right: auto;
}
.block{
  display: block !important;
}
.inline{
  display: inline !important;
}
.inline-block{
  display: inline-block !important;
}
.left{
  float: left !important;
}
.right{
  float: right !important;
}
.text-left{
  text-align: left !important;
}
.text-center{
  text-align: center !important;
}
.text-right{
  text-align: right !important;
}
.mt0{
  margin-top: 0 !important;
}
.mt1{
  margin-top: $base-margin*4 !important;
}
.mb0{
  margin-bottom: 0 !important;
}
.mb1{
  margin-bottom: $base-margin*4 !important;
}
.pl0 {
  padding-left:0 !important;
}
.pr0 {
  padding-right:0 !important;
}
.pb0 {
  padding-bottom:0 !important;
}
.pt0 {
  padding-top:0 !important;
}
.pt1 {
  padding-top: $base-margin*4 !important;
}
.pb1 {
  padding-bottom: $base-margin*4 !important;
}
.fullwidth{
  width:100%;
}
.white-trans{
  background-color: $white;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
  background-color: rgba(255,255,255,0.6);
}
.text-shadow{
  filter: Shadow(Color=#656565, Direction=130, Strength=1);
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
}