/* ============== Base Page Layout Styles ================ */
body{
  background: $stone;
}

footer{
  background: image-url('footer-racetrack-big.png') no-repeat center 0;
  height: 200px;
  margin-top: $base-margin*12;
}

/* ============== Base Typography Styles ================ */
ul,
ol,
dl,
blockquote,
p,
address,
table,
fieldset,
figure,
pre,
button,
[type='checkbox'] + label[for]{
  margin-bottom: 1rem;

  /*
  to only add the margin to elements that are NOT the last child
  .section-content &:not(:last-child){
    margin-bottom: 1rem;
  }
  */
}




label{
  font-family: $font-family-sans-serif;
  color: $charcoal;
}

p,
li,
select,
label{
  font-size: $base-font-size*0.875;
  font-family: $font-family-sans-serif;
}

a{
  font-size: $base-font-size*0.875;
}

hr{
  margin: $base-margin 0;
}

small{
  font-size: 80%;
}

dl dd{
  margin-bottom: $base-margin;
}
