.base-button{
  @extend .radius;
  @extend .small;
  color: $white;
}
.emphasized, .emphasized:visited{
  @extend .base-button;
  background: $secondary-color;
  &:hover, &:active, &:focus{
   background-color: lighten($secondary-color, 10%);
  }
}
button.disabled, button[disabled], .button.disabled, .button[disabled]{
  background-color: lighten($secondary-color, 10%);
  border-color:none;
  &:hover, &:active, &:focus{
    background-color: lighten($secondary-color, 10%);
    border-color:none;
  }
}
.de-emphasized, .de-emphasized:visited{
  @extend .base-button;
  background: $slate;
  &:hover, &:active, &:focus{
   background-color: lighten($slate, 10%);
  }
}
.red-btn{
  background:$brand-red !important;
  &:hover, &:active, &:focus{
   background-color: darken($brand-red, 10%);
  }
}
.green-btn{
  background: #78be20;
  &:hover, &:active, &:focus, &:visited{
   background-color: darken(#78be20, 10%);
  }
}