.notice_notification {
  padding: 10px 15px 10px 15px;
  background-color: $brand-blue-insurance;
  color: $white;
}

.error_notification{
  @extend .notice_notification;
  background-color: $brand-red;
}