ul {
  list-style:none;
  margin:0;
}

h4{
  margin:0;
}

.row {
  max-width: 74rem;
}

.user_name, .dashboard-title {
  font-size: 24px;
  margin: 0 auto;
  padding: 15px;
}

.dashboard-title {
  font-size: 14px;
  font-weight: normal;
  color: #5C5C5C;
  text-transform: uppercase;
  background:white;
}

.dashboard-nav {
  width: 100%;
  background: white;
  display: block;
  margin-top: 12px;
  text-transform: capitalize;
  padding: 8px 15px;

  a {
    font-family: $font-family-sans-serif;
    font-size: 18px;
    color: #646464;
    text-decoration:none;

    &:hover , &:active{
     color:white;
    }
  }

  &:hover , &:active{
   background:#00539b;
   a {
     color:white;
   }
  }

  span {
    display: block;
    font-size: 12px;
  }
}

.quick-link-title {
  width: 100%;
  padding: 15px;
  border-bottom:1px solid rgba(255, 255, 255, 0.56);
  margin-top: 10px;
  text-align:center;
  color:#5C5C5C;
}

.buttons-destination {
  width: 100%;
}

.action-footer {
  margin-top:10px;
  list-style:none;
  a {
    margin-right:7px;
  }
}

.dashboard-bg {
  background-color: rgba(255,255,255,.6);
  padding-top:1px;
  padding-bottom: 15px;
}

.quick-links {
  margin: 13px;
}

.quick-links li{
  text-decoration:underline;
  margin: 5px 0px 0px 0px;
}

.roadside {
  display:block;
  width:75%;
  margin:0 auto;
  min-height:185px;
}

.road-side-btn {
  margin:55px auto 0 auto;
}

.faq-list {
  width:75%;
  margin:0 auto;
  list-style: initial;

  li {
    margin-top:7px;
  }
  a {
    line-height:12px;
  }
}

.rewards-promo {
 display:block;
 margin:0 !important;
}
.reward-dollars {
  padding: 30px 10px 15px 10px;
  background: #78be20;
  min-height: 185px;
  color: white;

  h4 {
    color:white;
    font-weight:bold;
    font-size:16px;
    margin:0;
  }
  a {
    text-decoration:none;
    color:white;
  }
  .reward-dollars-amount {
    font-size:36px;
    display:block;
    a {
      font-size:36px;
    }
  }

  .view-history {
    text-decoration:underline;
  }
}

.reload-btn {
  background: #78be20;
  padding-top: 0.575rem !important;
  padding-right: 1.3rem !important;
  padding-bottom: 0.575rem !important;
  padding-left: 1.3rem !important;
  display: block;
  height: 33px;
  margin-top: 10px;
  width: 130px;
  &:hover, &:active, &:focus{
   background-color: darken(#78be20, 10%);
  }
}

.member-services {
  padding:20px;

  .section-title {
    font-size: 14px;
    font-weight: normal;
    color: #5C5C5C;
    text-transform:uppercase;
  }
}

.partner-promo {
  min-height:146px;
  background:$brand-blue-light;
  position:relative;
  padding-bottom: 10px;
  p {
    display: block;
    margin-top: 5px;
    color: white;
    padding-left: 10px;
  }
}

.heading-bg {
  width:100%;
  height:35px;
  background:$brand-blue-dark;
  h4 {
    color:white;
    font-size: 14px;
    margin-left: 10px;
    line-height: 33px;
    position: relative;
    z-index: 200;
  }
}

.esso-card {
  height: 130px;
  margin: 10px auto 0 auto;
  background: image-url('esso-card.png') no-repeat center center;
  background-size:contain;
  position:relative;
  z-index:200;
}

.esso-content {
  margin: 10px auto 0 auto;
}

dt {
  width: 100%;
  min-height: 16px;
  font-size: 16px;
  padding: 15px;
  background: white;
  margin-top: 10px;
  margin-bottom: 0px !important;
  font-weight: normal !important;
  color: #686868;
}

dd {
  padding: 15px;
  background: rgba(255, 255, 255, 0.5);
}