.dashboard-title{
  font-size: 14px;
  font-weight: normal;
  color: $charcoal;
  text-transform: uppercase;
  background: $white;
  padding: $base-padding*3;
}
.dashboard-nav{
  width: 100%;
  background: $white;
  display: block;
  margin-top: 12px;
  text-transform: capitalize;
  padding: 0px;
  a{
    font-family: $font-family-sans-serif;
    font-size: 18px;
    color: $charcoal;
    text-decoration: none;
    display: block;
    width: 100%;
    padding: 8px $base-padding*3;
    &:hover , &:active{
     color: $white;
    }
  }
  &:hover,
  &:active{
   background: $brand-blue-light;
   a{
     color: $white;
   }
  }
  span{
    display: block;
    font-size: 12px;
  }
}
a.activepage{
  background: $brand-blue-light;
  color: $white;
}
.sidebar{
  @extend .white-trans;
  padding: $base-padding*4;
  p{
    margin-bottom: $base-margin*2;
  }
}
/* Top-Bar Styles */
.contain-to-grid .top-bar{
  @extend .row;
}
.title-area li.name img{
  padding-top: $base-padding*2;
}
.top-bar a{
  text-decoration: none;
}
.dropdown-open-link{
  min-width: 201px; //The 1 px accounts for the border on the dropdown
}
.top-bar-nav.fixed{
  max-height: 50px;
}
ul.dropdown:not(.nested){
  -webkit-box-shadow: 0px 8px -5px -5px rgba(50,50,50,0.5);
  -moz-box-shadow: 0px 8px -5px -5px rgba(50,50,50,0.5);
  box-shadow: 0px 8px 20px -5px rgba(50,50,50,0.5);
  border-left: solid 1px darken($brand-blue-light, 5%);
  border-right: solid 1px darken($brand-blue-light, 5%);
  margin-top: -5px;
}
.dropdown{
  .nested{
    margin-top: -1px;
    border-right: solid 1px darken($brand-blue-light, 5%);
    border-left: solid 1px darken($brand-blue-light, 5%);
    li{
      background: lighten($brand-blue-light, 3%);
    }
  }
  .title.back a{
    font-weight: bold;
  }
}
