.join-radio{
  @extend .membership-card-radio;
  margin: $base-margin*2 2%;
  img{
    max-width: 55%;
    margin: $base-margin*4 0 $base-margin*2;
  }
}
.join-radio:first-of-type, .join-radio:last-of-type{
  margin: $base-margin*2 0;
}
.basic{
  @extend .membership-card-radio;
  margin-top: $base-margin*2;
  margin-bottom: $base-margin*2;
}
.plus{
  @extend .membership-card-radio;
  margin: $base-margin*2 2%;
}
.plus-rv{
  @extend .membership-card-radio;
  margin-top: $base-margin*2;
  margin-bottom: $base-margin*2;
  .membership-card-option:nth-of-type(2){
    padding-bottom:5px;
  }
}
form.plus_primary{
  .join-radio{
    @extend .membership-card-radio-plus-primary;
    margin: $base-margin*2 2%;
  }
  .join-radio:first-of-type, .join-radio:last-of-type{
    margin: $base-margin*2 0;
  }
  .basic{
    @extend .membership-card-radio-plus-primary;
    margin-top: $base-margin*2;
    margin-bottom: $base-margin*2;
  }
  .plus{
    @extend .membership-card-radio-plus-primary;
    margin: $base-margin*2 2%;
  }
  .plus-rv{
    @extend .membership-card-radio-plus-primary;
    margin-top: $base-margin*2;
    margin-bottom: $base-margin*2;
    .membership-card-option:nth-of-type(2){
      padding-bottom:5px;
    }
  }
}
.membership-card-header{
  font-size: $base-font-size*1.25;
  padding: $base-padding;
}
.membership-card-option{
  padding: $base-padding;
}
.membership-card-option.vehicles{
  min-height: 75px;
}
.join-postal-code-prov{
  #household_postal_code{
    @extend %inputs-halves;
    margin-right: 5%;
  }
  #household_province{
    @extend %inputs-halves;
  }
}
input.delete_associate[type="checkbox"] {
  position: relative;
  left: 0px;
  margin: 0;
  margin-right: 15px;
}
