html, body{
  height: auto !important;
}
html{
  background: image-url('alberta-blur.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body{
  background: none;
}
.site-header{
  width: 100%;
  height: 50px;
  background-color: $primary-color;
  margin-bottom: 30px;
  padding: 0;
  a, a:visited{
    padding-top: $base-padding*2;
  }
  a:hover{
    color: $sky;
    cursor: pointer;
  }
  img {
    padding-top:10px;
  }
}

/***************
NAV
******************/

.pattern {
	margin-bottom: 1em;
	overflow: hidden;
}

a.menu-link {
	float:right;
	display:block;
	padding:0em;
	width: 50px;
	text-align: center;
	text-decoration: none;
}
/* Hide */
nav[role=navigation] {
	max-height:0;
}
/* Show */
nav[role=navigation].active {
	max-height:40em;
}

a.menu-link:before {
		color: #fff;
		content: '\2630';
		font-size:33px;
		font-weight: lighter;
		text-align: center;
		text-decoration: none;
}

/* Vertical Menu */
nav[role=navigation] {
	clear: both;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}

nav[role=navigation] ul {
	margin: 0;
	padding: 0;
	background-color: rgba(255,255,255,0.65);
	margin-top: -1px;

}
nav[role=navigation] li a {
	display: block;
	padding: 0.8em;
	text-decoration: none;
}

#menu{
	float:none;
	margin-top: 0px;
	margin-right: 0px;

  a{
  	font-size: 21px;
  	letter-spacing: 0.1px;
  	margin-top: 0px;
  }
}

#navWrapper{
	position: relative;
	z-index: 900;
  width:100%;
}

 .main-wrapper{
   margin: $base-margin*4 auto;
 }
.page-wrapper{
  border: $base-border;
  background-color: $white;
}
.page-title{
  background: $ash;
  border-bottom: $base-border;
  padding: $base-padding 0;
}
.page-steps{
  text-align:right;
}
.content-block{
  margin-bottom: $base-margin*4;
  background: $white;
  border:$base-border;
}
.content-block-bottom{
  margin-top: $base-margin*8;
}
.panel-box{
  padding: $base-padding*4;
  h4, p{
    color: $white;
    margin-top: 0;
  }
}
.panel-box-confirmation{
  background: $green;
}
.panel-box-error{
  background: $brand-red;
}
.image-callout{
  border: $base-border;
}
.sidebar{
  @extend %white-trans;
  padding: $base-padding*4;
  p{
    margin-bottom: $base-margin*2;
  }
}
footer{
  background: image-url('footer-racetrack-big.png') no-repeat center 0;
  height: 200px;
  margin-top: $base-margin*12;
}
