.promo-bg{
  width: 100%;
  background-color: $sky;
  min-height: 110px;
  padding: 23.5px;
  margin-top: 23px;
  img {
    width: 110px;
    height: auto;
    margin-bottom: 20px;
    margin-left: 5px;
    float:left;
  }
  .promo-info {
    display: inline;
    display: block;
    margin-left: 136px;
    margin-top:5px;

    p {
      line-height: 26px;
      font-size: 17px;
    }
  }
}

.strike-through {
  text-decoration: line-through;
  color: black;
}

span.green {
  color: green;
}
