<aside class="side-nav" data-equalizer-watch="page-container-equalize">
  <h2 class="side-nav__header">Online Account</h2>
  <div class="side-nav__content">
    <ul class="side-nav__list">
      <%= render partial: ama_layout_partial('main_nav_item'), collection: navigation.items, as: :nav_item %>
    </ul>
  </div>
</aside>
