.accordion-title{
  @extend .heading;
  text-decoration: none;

  &:hover,
  &:active,
  &:visited,
  &:focus{
    color: $white;
  }

  .accordion-icon{
    width: 16px;
    height: 16px;
    display: block;
    float: right;
    color: $white;
  }
}

.accordion.secondary{
  background: none;

  a{
    font-size: $base-font-size;
  }

  .accordion-content a{
    font-size: $base-font-size;
  }

  .accordion-title{
    background: $white;
    color: $slate;

    &:hover{
      background: $stone;
    }
  }

  .top-level,
  .top-level:hover{
    background: darken($stone, 5%);
    color: $slate;
  }
}

.accordion{
  &__header{
    background: $brand-blue-light;
    overflow: auto;
    display: block;

    &--transparent{
      @extend .accordion__header;
      background:transparent;
    }
  }

  &__heading{
    @extend .heading;
    @include small-10;
  }

  &__heading-bg{
    @extend .accordion__heading;
    background: $brand-blue-light;
    width: 97%;
  }

  &__heading--left-margin{
    @extend .accordion__heading;
    margin-left: 20px;
    padding: 0 !important;
  }

  &__toggle{
    @include small-2;
    text-align: right;
    color: $white;
    padding-top: $base-padding*1.25;
  }

  &__icon{
    width: 42px;
    height: 42px;
    border: 2px solid blue;
    display: inline-block;
    border-radius: 100%;
    position: absolute;
    background: white;
  }

  &--transparent{
    @extend .accordion;
    background: transparent;
  }
}

// Foundation sets a border-radius by default,
// and there doesn't seem to be an override in the settings file
.accordion-item:first-child > :first-child,
.accordion-item:first-child > :last-child,
:last-child:not(.is-active) > .accordion-title{
  border-radius: 0;
}
