/*New Grid Block code for blue boxes*/

.cta-margin{
  margin: 0 $base-margin*2 0 $base-margin*2;
}

.cta-btm-row{
  margin-top: 0.9375rem*2;
}

.cta-box{
  min-height: 175px;
  padding: $base-padding*2;

  a{
    text-decoration: none;
  }

  &.light-blue-bg:hover{
    background: lighten($brand-blue-light, 3%);
  }

  &.rewards-green-bg:hover{
    background: lighten($brand-green, 3%);
  }

  @include breakpoint(medium down){
    margin: 0.625rem 0;
  }
}

.cta-title{
  text-align: center;
  color: $white;
  width: 100%;
  margin: $base-margin*2 auto $base-margin*0 auto;
}

.icon-container{
  height: 80px;
  margin: $base-margin*3 auto 0 auto;
  background-repeat: no-repeat;
  background-position: center center;
  width: auto;
  text-align: center;
  color: $white;
  font-size: $base-font-size*4.5;
  line-height: $base-font-size*4.5;
}
