/*Cart*/
.summary-title{
  background: $brand-green !important;
  min-height: 62px;
}

.mobile-accordion-navigation{
  @include accordion-navigation;
}

.accordion-icon{
  width: 16px;
  height: 16px;
  display: block;
  float: right;
  color: $white;
  margin-top: $base-margin;
}

//cart notifcation style

.summary-cart{
  ul{
    .summary-flash-notice{
      color: $white;
      background: $brand-blue-insurance;

      p{
        color: $white;
      }
    }

    .delete-icon{
      margin-top: $base-margin;
      float: right;
    }

    li{
      padding: 8px;
    }
  }
}

@media screen and (max-width: 64em){
  .mobile-accordion{
    @include accordion-container;

    .mobile-accordion-navigation{
      @include accordion-navigation;
    }

    .content{
      @include accordion-content;
    }
  }

  span.item-num{
    display: inline-block;
    float: right;
    width: 30px;
    height: 30px;
    border-radius: 60px;
    text-align: center;
    line-height: 29px;
    color: $white;
    font-weight: bold;
    margin-right: $base-margin*6;
    background: lighten($brand-green, 5%);
  }
}
