.comparison-radios{
  &__wrapper{
    @include grid-row-nest;
    @include clearfix;
    margin-bottom: $base-margin;
  }

  &__radio-full{
    @include medium-12;
  }

  &__radio-half{
    @include medium-6;

    &:nth-of-type(2){
      .comparison-radios__ribbon{ //only display the ribbon for the first radio
        display: none;
      }
    }
  }

  &__radio-third{
    @include medium-4;

    &:nth-of-type(1),
    &:nth-of-type(3){
      .comparison-radios__ribbon{ //only display the ribbon for the middle radio
        display: none;
      }
    }
  }

  &--vertical{
    text-align: center;
  }

  &__radio-btn--centered{

    input[type="radio"] + label{
      padding: 0 0 46px 0;

      &::before{
        top: 100%;
        margin-top: -35px;
        left: 50%;
        margin-left: -12px;
      }

      &::after{
        top: 100%;
        margin-top: -27px;
        left: 50%;
        margin-left: -4px;
        display: none;
      }
    }

    input[type="radio"]:checked + label{
      padding: 0 0 46px 0;

      &::after{
        top: 100%;
        margin-top: -27px;
        left: 50%;
        margin-left: -4px;
      }
    }
  }

  &__title{
    font-size: $base-font-size*1.45;
    padding: 7px;
    font-weight: 700;

    &--blue-bg{
      @extend .comparison-radios__title;
      background: $brand-blue-light;
      color: $white;
      margin-bottom: $base-margin;
    }
  }

  &__label{
    display: inline-block;
    width: 85%;
    margin: 9px auto;
  }

  &__panel{
    background-color: $ash;
    border-top: 2px solid $stone;
    border-bottom: 2px solid $stone;
    padding: $base-padding;
    margin-bottom: $base-margin;
  }

  &__highlight{
    font-weight: 700;
    line-height: 1.5rem;

    &--large{
      @extend .comparison-radios__highlight;
      font-size: 2rem;
    }

    &--medium{
      @extend .comparison-radios__highlight;
      font-size: 1.25rem;
    }

    &--blue{
      @extend .comparison-radios__highlight;
      color: $brand-blue-light;
    }
  }

  &__image{
    height: 125px;
    margin-bottom: $base-margin;
  }

  &__list{
    list-style-type: none;
  }

  &__list-item{
    padding-bottom: $base-padding;
  }

  &__ribbon{
    position: absolute;
    top: 0;
    right: 0;
  }

  &__divider{
    margin-bottom: 0;
  }

  &--disabled{
    input[type="radio"]:checked + label{
      background-color: lighten($sky, 4%);
      border: 2px solid lighten($dark-sky, 12%);
      color: lighten($stormcloud, 30%);

      &:before{
        border: 2px solid lighten($brand-blue-light, 55%);
      }

      &:after{
        background-color: lighten($brand-blue-light, 55%);
      }
    }

    input [type="radio"] + label {
      border: 2px solid lighten($dark-sky, 6%);
    }


    [type='radio'] + label[for]{
      cursor: not-allowed;
      color: lighten($stormcloud, 30%);
    }
  }
}

input[type="radio"]:checked{
  &~label{
    .comparison-radios__panel{
      border-top: 2px solid darken($sky, 10%);
      border-bottom: 2px solid darken($sky, 10%);
    }
  }
}
