.notice_notification{
  padding: $base-padding*2 $base-padding*3 $base-padding*2 $base-padding*3;
  background-color: $brand-blue-insurance;
  color: $white;
}

.error_notification{
  @extend .notice_notification;
  background-color: $brand-red;
}
