.notice_notification{
  padding: $base-padding*2 $base-padding*3 $base-padding*2 $base-padding*3;
  background-color: $brand-blue-insurance;
  color: $white;
}

.error_notification{
  @extend .notice_notification;
  background-color: $brand-red;
}

.orange-warning-icon{
  @extend .fa;
  @extend .fa-exclamation-circle;
  @extend .orange-text;
}

.white-warning-icon{
  @extend .fa;
  @extend .fa-exclamation-circle;
  @extend .white-text;
}

.green-active-icon{
  @extend .fa;
  @extend .fa-check-circle;
  @extend .green-text;
}

.white-active-icon{
  @extend .fa;
  @extend .fa-check-circle;
  @extend .white-text;
}

.status-icon{
  font-size: 2rem;
  text-align: center;
  margin: 0 auto;
  display: block;
}
