.link-list{
  list-style-type: none;

  &__item{
    border-bottom: 2px solid $sky;
    padding-bottom: $base-padding/2;

    &:not(:first-child){
      padding-top: $base-padding/2;
    }
  }

    &__link{

    }
}
