.link-list{
  list-style-type: none;

  &__item{
    &--bordered{
      border-bottom: 2px solid $sky;
      padding-bottom: $base-padding/2;

      &:not(:first-child){
        padding-top: $base-padding/2;
      }
    }
  }

    &__link{
      &--white{
        color: $white;
      }
    }

}

.link-list-horizontal{
  list-style-type: none;

  &__item{
    display: inline;
  }
}