.option-toggle{

  &__list{

  }

  &__item{
    @include clearfix;
    margin: 1px 0;
    border-top: 0;
    border-bottom: 0;
    border-left: 0;
    border-radius: 0;
    display: block;
    height: inherit;
    line-height: 1;
    padding: 0;
    background-color: $white;
    color: $cerulean;
    position: relative;

    &:nth-child(even){
      background-color: $ash;
    }

    &.visible{
      background-color: $brand-blue-light;
      color: $white;

      .option-toggle__item-icon{
        background-color: $brand-blue-light;
      }
    }
  }

  &__item-label{
    display: block;
    float: left;
    margin: 0 0 0 65px;
    line-height: 24px;
    @include vertical-center;
  }

  &__item-icon{
    background-color: transparent;
    width: auto;
    height: 100%;
    float: left;
    padding: 4px;
  }
}
