.option-toggle{

  &__item{
    @include clearfix;
    margin: 1px 0;
    display: block;
    height: inherit;
    line-height: 1;
    background-color: $white;
    color: $cerulean;
    position: relative;

    &:nth-child(even){
      background-color: $ash;
    }

    &.visible{
      background-color: $brand-blue-light;
      color: $white;

      .option-toggle__item-icon{
        background-color: $brand-blue-light;
        color: $white;
      }
    }
  }

  &__item-label{
    display: block;
    float: left;
    margin: 0 0 0 65px;
    line-height: 24px;
    @include vertical-center;
  }

  &__item-icon-container{
    display: inline-block;
    background-color: transparent;
    width: 50px;
    height: 50px;
    float: left;
    padding: 4px;
    position: relative;
  }

  &__item-icon{
    color: $cerulean;
    width: 100%;
    font-size: $base-font-size*1.75;
    text-align: center;
    @include vertical-center;
  }
}
