.receipt-summary{
  &__image-container{
    @include medium-3;
    margin-bottom: $base-margin;

    &__image{
      margin-bottom: $base-margin;

      @include breakpoint(small){
        display: block;
        margin-right: auto;
        margin-left: auto;
      }
    }
  }

  &__content-container{
    @include medium-9;
    margin-bottom: $base-margin;
  }
}
