/* Styles for Top Bar, Title Bar */
.logo{
  width: 132px;
  padding: $base-padding*.75 0;
}

.header{
  position: fixed;
  top: 0;
  width: 100%;
  //height: 100vh;
  z-index: 9999;
}

.top-bar{
  @extend .show-for-large;
  padding: 0 $base-padding;
  height: $top-bar-height;

  &__logo{
    @extend .logo;
  }

  .submenu{
    border: none;

    li{
      background: $cerulean;

      &:nth-child(1){
        margin-top: -$base-margin/2;
      }

      &:hover{
        background: lighten($cerulean, 5%);
      }
    }

    a{
      color: $white;
    }
  }
}
.off-canvas-wrapper{
  /* for some reason foundation sets this to hidden for off-canvas by default,
  which causes issues with the cart's window.scrollTop in webkit
  So if something blows up with off-canvas, start by deleting this.  */
  backface-visibility: visible;
}
.off-canvas-wrapper,
.off-canvas-wrapper-inner,
.page-container{
  /* height: 100%; */
}

.off-canvas-wrapper{
  /* overflow: auto; */
}

.title-bar{
  height: $top-bar-height;

  @include breakpoint (medium down){
    padding: 0 $base-padding;
  }

  &__logo{
    @extend .logo;
    @include horizontal-center;
  }
}

.menu-icon{
  @include vertical-center;
  cursor: pointer;
  width: 20px;
  height: 16px;

  &::after{
    position: absolute;
    display: block;
    width: 100%;
    height: 3px;
    background: $cerulean;
    box-shadow: 0 7px 0 $cerulean, 0 14px 0 $cerulean; //This creates the menu icon
    content: '';
    top: 0;
    left: 0;
  }
}

.page-header{
  background: $brand-blue-light;
  margin-bottom: $base-margin;
  overflow: auto;

  &__heading{
    @extend .heading;

    &--split{
      @extend .page-header__heading;
      @include large-6;
      @include small-4;
    }
  }

  &__sub-text{
    @extend .heading;
    @include large-6;
    @include small-4;
    font-style: italic;
    font-size: 1.25rem;
    text-align: right;
  }
}
