.site-header{
  width: 100%;
  height: 50px;
  background-color: $primary-color;
  margin-bottom: $base-margin*6;
  padding: 0;

  a:hover{
    color: $sky;
    cursor: pointer;
  }

  img{
    padding-top: $base-padding*2;
  }
}

/* Styles for Top Bar, Title Bar */

.top-bar{
  margin-bottom: $base-margin*4;

  @include breakpoint(small only){
    padding: 0;
  }

  .is-drilldown{
    background: $brand-blue-light;
  }

  ul{
    font-weight: 600;

    li{

      a{
        color: $white;
      }

      &:hover{
        background: $brand-blue-light;
      }

      @include breakpoint(small only){
        background: $brand-blue-light;
        border-bottom: solid 1px darken($brand-blue-light, 5%);
      }
    }
  }

  .dropdown.menu > li.is-dropdown-submenu-parent > a{
    padding-right: 76px;

    &:hover{
      background: lighten($brand-blue-light, 3%);
    }
  }

  .submenu{

    li{
      background: $brand-blue-light;
      border-bottom: solid 1px darken($brand-blue-light, 5%);

      &:nth-child(1){
        border-top: solid 1px darken($brand-blue-light, 5%);
      }

      &:hover{
        background: lighten($brand-blue-light, 3%);
      }
    }
  }
}

.menu-icon{
  position: relative;
  cursor: pointer;
  width: 20px;
  height: 16px;
  color: $white;
}

.menu-icon,
.title-bar-title{
  display: inline-block;
  vertical-align: middle;
}

.menu-icon::after{
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  background: $white;
  box-shadow: 0 7px 0 $white, 0 14px 0 $white; //This creates the menu icon
}

.menu-icon.dark::after,
.menu-icon::after{
  content: '';
  top: 0;
  left: 0;
}

.dropdown.menu .submenu{
  border: none;
}

.dropdown.menu .is-dropdown-submenu-parent.is-right-arrow>a::after{
  border-color: $white transparent transparent;
}

.is-drilldown-submenu-parent>a::after{
  border-color: transparent transparent transparent $white;
}

.js-drilldown-back::before{
  border-color: transparent $white transparent transparent;
}
