//Quicklink Tabs with Nested Accordions
.tabs.box-tabs .tab-title > a{
  background: none;
  padding: 0;
}

.tab-title.active .quicklink-box{
  background: $stone;

  .box-title{
    color: $jet;
  }

  i{
    color: $smoke;
  }
}

//Accordion styles for FAQ content
.faq{
  .accordion .accordion-navigation > a,
  .accordion dd > a{
    text-decoration: none;
    background: $white;

    &:active,
    &:hover,
    &:focus{
     background: $stone;
     outline: none;
    }
  }

  .accordion-navigation > a.top-level,
  dd > a.top-level{
    background: darken($stone, 5%);
    border-bottom: 1px solid $stone;

    &:hover{
      background: lighten($smoke, 4%);
    }

    &:active,
    &:focus,
    &:visited{
      background: darken($stone, 5%);
    }
  }
}

.tabs{
  margin: 0;
  list-style-type: none;
  background: #ffffff;
  border: 1px solid #e6e6e6;
}
